@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Lightpink: hsl(275, 100%, 97%);
  --Grayishpurple: hsl(292, 16%, 49%);
  --Darkpurple: hsl(292, 42%, 14%);
}

.attribution {
  margin: 20px 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

body {
  background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
  background-size: 100% auto;
  background-color: var(--Lightpink);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.card {
  margin-top: 100px;
  background: #fff;
  width: 550px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
}

.card .titulo {
  display: flex;
  gap: 20px;
}

.card .titulo h1 {
  font-weight: 800;
}

.card .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card p {
  color: var(--Grayishpurple);
  font-size: 16px;
}

.card .question img {
  cursor: pointer;
}

.hidden {
  display: none;
}

.card hr {
  border: 1px solid #d3d3d3;
}

.para {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.show {
  max-height: 500px;
}

a {
  text-decoration: none;
}

@media (max-width: 565px) {
  .card {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 350px;
  }
}
