@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Stone100 : hsl(30, 54%, 90%);/*100*/
    --Stone150 : hsl(30, 18%, 87%);/*150*/
    --Stone600 : hsl(30, 10%, 34%);/*600*/
    --Stone900 : hsl(24, 5%, 18%);/*900*/
    --Brown800 : hsl(14, 45%, 36%);/*800*/
    --Rose800 : hsl(332, 51%, 32%);/*800*/
    --Rose50 : hsl(330, 100%, 98%);/*50*/
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Stone100);
    font-family: 'Outfit';
}
h1{
    font-family: "Young Serif", serif;
}

.conteiner{
    width: 740px;
    background-color: var(--White);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 122px;
    
}

.imagen{
    height: 306px;
    margin: 40px;
    width: 660px;
    border-radius: 10px;
    overflow: hidden;
    
}

.imagen img{
    height: 100%;
    width: 100%;
}

.receta{
    margin: 40px;
    width: 660px;
}

.preparacion{
    margin: 40px;
    width: 660px;
    background-color: var(--Rose50);
    padding: 22px 0 22px 22px;
    border-radius: 10px;
    box-sizing: border-box;
}

.preparacion h2{
    color: var(--Rose800);
    font-family: "Outfit", system-ui;
    margin-bottom: 0;
}

.preparacion li{
    margin-top: 10px;
}

.preparacion li::marker{
    color: var(--Rose800);
}

.preparacion span{
    font-weight: bold;
    font-family:'Outfit';
    color: var(--Stone600);
}

.ingredientes {
    margin: 40px;
    width: 660px;
    box-sizing: border-box;
}

.titulo{
    color: var(--Brown800);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 26px;
}

.ingredientes li{
    margin-top: 16px;
    list-style-type: square;
}

.ingredientes li::marker{
    color: var(--Brown800);
}

.instrucciones{
    margin: 40px;
    width: 660px;
    box-sizing: border-box;
}

.separador{
    width: 660px;
}

.instrucciones span{
    font-weight: bold;
    font-family:'Outfit';
    color: var(--Stone600);
}

.instrucciones li{
    margin-top: 16px;
    padding-left: 22px;
}

.instrucciones li::marker{
    color: var(--Brown800);
    font-weight: 600;
    font-size:larger;
    margin-right: 23px;
}

.nutricion{
    margin: 40px;
    width: 660px;
    box-sizing: border-box;
    
}

.texto{
    color: var(--Stone600);
}

.nutricion hr{
    width: 660px;
    color: var(--Stone150);
    border: 0.5px solid;
}
.nutricion ul{
    padding: 0;
}

.nutricion li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--Stone600);
}

.nutricion span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--Brown800);
    font-weight: 700;
}

